<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html ng-app="RoutesModule">
	<head>
		<title>SendMySMS</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="assets/css/toastr.css" />
		<link rel="shortcut icon" href="images/SMS.png">
	</head>
		<!-- Header -->
	<body ng-controller="homeLinks">
		<header id="header">
			<div class="inner">
				<a href="index.html" class="logo" class="hidden">Send My SMS</a>
				<nav id="nav">
					<a ng-repeat="link in links" href="{{link.path}}">{{link.name}}</a>
					<a ng-repeat="button in butttons" ng-click="logout()" href="{{button.path}}">{{button.name}}</a>
				</nav>
				<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
			</div>
		</header>
		<!-- One -->
		<ng-view></ng-view>		

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
							&copy; Copyrights Resevred 2017. Design: <a href="https://templated.co" target="_BLANK">TEMPLATED</a>. Developed by <a href="https://www.facebook.com/het.kansara.9" target="_BLANK">Het Kansara</a>
						</div>
						<ul class="icons">
							<li><a href="https://www.facebook.com/het.kansara.9" target="_BLANK" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="https://twitter.com/Het_HK" target="_BLANK" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
		<script src="node_modules/jquery/dist/jquery.min.js"></script>
		<script src="node_modules/skel-framework/dist/skel.min.js"></script>
		<script src="node_modules/angular/angular.js"></script>
		<script src="node_modules/angular-cookies/angular-cookies.min.js"></script>
		<script src="node_modules/angular-route/angular-route.min.js"></script>
		<script src="node_modules/toastr/build/toastr.min.js"></script>
		<script src="https://cdn.plot.ly/plotly-1.2.0.min.js"></script>
		<script src="assets/js/template-util.js"></script>
		<script src="assets/js/template-main.js"></script>
		<script src="assets/js/app.bundle.js"></script>
		<!-- <script src="assets/js/app-main-script.js"></script> -->
		<!-- <script src="assets/js/app-services.js"></script> -->
	</body>
</html>