
	<div class="row">
		<div class="12u 12u$(medium)">
			
		</div>
		
	</div>
	<div id="flex-container">
	    <div class="raw-item box" id="pieChartContainer" id="flex">
	    	<center ng-hide="loading1">
				Loading Graph..<div class="loader"></div>
			</center>
	    	<center><h3>SMS Balance : <span style="color:green;">{{balance}}</span></h3></center>
	    </div>
	    <div class="flex-item box" id="lineChartContainer" id="raw">
	    	<center ng-hide="loading">
				Loading Graph..<div class="loader"></div>
			</center>
	    </div>
	</div>
	<div id="flex-container">
	    <div class="flex-item box" id="raw">
	    	
	    </div>
	</div>
	
