<section id="CSV Message" class="wrapper">
	<div class="inner">
		<div class="row">
			<div class="12u 12u$(medium)">
				<div class="table-wrapper">
					<div ng-hide="warningsTable" style="border: 1px solid lightgrey; padding: 15px;">
						<h4 style="color: #ffb300;float: left;">Warnings</h4>
						<button ng-click="closeWarningBox()" style="float: right;background-color: white;"  class="button special"><img src="images/close.png"></button></li>
						<table class="alt" id="Warning_Data">
							<thead>
								<tr>
									<th>Number</th>
									<th>Message</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="warning in warnings">
									<td>{{warning.numbers}}</td>
									<td>{{warning.message}}</td>
								</tr>
								<tr>
									<td colspan="2"><button id="btnExport" onclick="exportToExcel('Warning_Data');" style="float: right;">Export to Excel</button></td>
								</tr>
							</tbody>
						</table>
					</div>

					<div ng-hide="errorsTable" style="border: 1px solid lightgrey; padding: 15px;">
						<h4 style="color:#ef5350;float: left;">Errors</h4>

						<button ng-click="closeErrorBox()" style="float: right;background-color: white;"  class="button special"><img src="images/close.png"></button></li>
						<!-- <a href="" ng-click="closeErrorBox()"><img style="float: right;" src="images/close.png"></a> -->
						<table class="alt" id="Error_Data">
							<thead>
								<tr>
									<th>Code</th>
									<th>Message</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="error in errors">
									<td>{{error.code}}</td>
									<td>{{error.message}}</td>
								</tr>
								<tr>
									<td colspan="2"><button id="btnExport" onclick="exportToExcel('Error_Data');" style="float: right;">Export to Excel</button></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div ng-hide="messagesSentTable" style="border: 1px solid lightgrey; padding: 15px;">
						<h4 style="color: green;float: left;">SMS Sent</h4>
						
						<button ng-click="closeMessageSentBox()" style="float: right;background-color: white;"  class="button special"><img src="images/close.png"></button></li>
						<table class="alt" id="SMS_Data">
							<thead>
								<tr>
									<th>Number</th>
									<th>Message</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="message in messagesSent">
									<td>{{message.messages[0].recipient}}</td>
									<td>{{message.message.content}}</td>
								</tr>
								<tr>
									<td colspan="2"><button id="btnExport" onclick="exportToExcel('SMS_Data');" style="float: right;">Export to Excel</button></td>
								</tr>
							</tbody>
						</table>
						
					</div>
					<br>
				</div>
			</div>
		</div>
	</div>
	<div class="inner">
		<div class="row">
			<div class="3u 12u$(medium)">
				<div style="border: 1px solid lightgrey; padding: 15px;">
				<h3 style="color:#ffb300;">SMS Package</h3>
					{{package}} messages
				</div>
				<hr>
				<div style="border: 1px solid lightgrey; padding: 15px;">
				<h3 style="color:#ef5350;">SMS Sent</h3>
					{{package-balance.sms}} messages
				</div>
				<hr>
				<div style="border: 1px solid lightgrey; padding: 15px;">
				<h3 style="color:#2e7d32;">SMS Balance</h3>
					{{balance.sms}} messages
				</div>
			</div>
			<div class="9u 12u$(medium)">
				<h3>Send Dynamic CSV Message (<a href="sample/Dynamic CSV Message.pdf" target="_BLANK">How To Use?</a>)</h3>
				<hr>
				<form id="sendSMS">
				<input type="hidden" name="send_SMS_Dynamic">
				<input type="hidden" value="{{cookie.username}}" name="username">
				<input type="hidden" value="{{cookie.api_key}}" name="api_key">
				<div class="row uniform">
					<div class="12u$">
						Select File to upload<br>
						<input name="fileToUpload" type="file" />
						<a href="sample/Dynamic CSV Sample.csv" style="text-decoration: none;float: right;">Sample Download</a>
					</div>
					<div class="12u$">
						<textarea name="message" id="message" ng-model="message" placeholder="Enter your message" rows="6"></textarea>
					</div>
				</div>
				<div class="12u$"><br>
					<center>
						<ul class="actions">
							<li><input type="submit" value="Send SMS" ng-click="showLoading()"></li>
							<!-- <li><button ng-click="sendSMS()" class="button special">Send SMS</button></li> -->
							<li ng-hide="loading">
								Sending Sms..<div class="loader"></div>
							</li>
						</ul>
					</center>
				</div>
				</form>
			</div>
		</div>
	</div>
	
</section>
