<!-- Banner -->
<section id="banner">
	<a href="#Home" style="text-decoration: none;">
	<img src="images/SMS.png" style="height: 100px;width: 100px;">
	<h1><span style="color:#2196f3;">S</span>end <span style="color:#009688;">M</span>y <span style="color:#f44336;">S</span>MS</h1></a>
	<p>Make your texting simple & easy.</p>
</section>
<section id="Login" class="wrapper">
	<div class="inner">
		<div class="row">
			<div class="8u 12u$(medium)">
				<!-- <header>
					<h2 style="color:grey;">About <span style="color:#2196f3;">S</span><span style="color:#009688;">M</span><span style="color:#f44336;">S</span></h2>
					<p>This website is for sending SMS to any number or group of numbers.</p>
				</header>
				<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.</p> -->
				<h2 style="color:grey;"><span style="color:#2196f3;">S</span><span style="color:#009688;">M</span><span style="color:#f44336;">S</span> Pricing</h2>
				<table ng-hide="HistoryTable">
					<thead>
						<tr>
							<th>Message Bundle</th>
							<th style="text-align: right;">Per Bundle</th>
							<th style="text-align: right;">Per Message</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>10 Messages</td>
							<td style="text-align: right;">Free Trial</td>
							<td style="text-align: right;">Free Trial</td>
						</tr>
						<tr>
							<td>1,000 Messages</td>
							<td style="text-align: right;">&#8377;250</td>
							<td style="text-align: right;">25.0 paisa</td>
						</tr>
						<tr>
							<td>2,000 Messages</td>
							<td style="text-align: right;">&#8377;500</td>
							<td style="text-align: right;">25.0 paisa</td>
						</tr>
						<tr>
							<td>5,000 Messages</td>
							<td style="text-align: right;">&#8377;1250</td>
							<td style="text-align: right;">25.0 paisa</td>
						</tr>
						<tr>
							<td>10,000 Messages</td>
							<td style="text-align: right;">&#8377;2250</td>
							<td style="text-align: right;">22.5 paisa</td>
						</tr>
						<tr>
							<td>25,000 Messages</td>
							<td style="text-align: right;">&#8377;5,000</td>
							<td style="text-align: right;">20.0 paisa</td>
						</tr>
						<tr>
							<td>50,000 Messages</td>
							<td style="text-align: right;">&#8377;9,000</td>
							<td style="text-align: right;">18.0 paisa</td>
						</tr>
						<tr>
							<td>1,00,000 Messages</td>
							<td style="text-align: right;">&#8377;14,500</td>
							<td style="text-align: right;">14.5 paisa</td>
						</tr>
						<tr>
							<td>2,50,000 Messages</td>
							<td style="text-align: right;">&#8377;32,500</td>
							<td style="text-align: right;">13.0 paisa</td>
						</tr>
					</tbody>
				</table>
				<h2 style="color:grey;"><span style="color:#2196f3;">S</span><span style="color:#009688;">M</span><span style="color:#f44336;">S</span> Subscription Plans</h2>
				<table class="alt" ng-hide="HistoryTable">
					<tbody>
						<tr>
							<td><b>1 Month</b></td>
							<td><b>6 Months</b></td>
							<td><b>1 Year</b></td>				
						</tr>
						<tr>
							<td>&#8377;250</td>
							<td>&#8377;1250</td>
							<td>&#8377;2500</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="4u 12u$(medium)">
				<h3 style="float: left;">Login</h3>
				<div class="loader" ng-hide="loading" style="float: right;"></div>
				<!-- <hr> -->
				<div class="row uniform">
					<div class="12u$">
						<input type="text" ng-model="user" name="username" id="name" value="" placeholder="Username" />
					</div>
				</div>
				<div class="row uniform">
					<div class="12u$">
						<input type="password" ng-model="password" name="password" id="name" value="" placeholder="Password" />
					</div>
				</div>
				<div class="12u$"><br>
					<center>
					<ul class="actions">
						<li><button class="button special" ng-click="login()">Login</button></li>
						<li ng-hide="loading">
								
							</li>
					</ul>
				</center>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Two -->
<section id="two" class="wrapper style1 special">
	<div class="inner">
		<header>
			<h2>Top Users</h2>
			<!-- <p>Following are top users SendMySMS</p> -->
		</header>
		<div class="flex flex-4">
			<div class="box person">
				<div class="image ">
					<a href="https://www.google.co.in/maps/place/Naresh+Medical+Book+Distributors/@23.0200513,72.5694529,15z/data=!4m5!3m4!1s0x0:0x63b0f160a1acdd9a!8m2!3d23.0200513!4d72.5694529" target="_BLANK"><img src="images/nareshMedicalBook.jpeg" alt="Person 1" /></a>
				</div>
				<h3><a href="https://www.google.co.in/maps/place/Naresh+Medical+Book+Distributors/@23.0200513,72.5694529,15z/data=!4m5!3m4!1s0x0:0x63b0f160a1acdd9a!8m2!3d23.0200513!4d72.5694529" target="_BLANK">Naresh Medical Books</a></h3>
				<!-- <p>+91-7405872773</p> -->
			</div>
			<!-- <div class="box person">
				<div class="image">
					<img src="images/LJ.png" alt="Person 2" />
				</div>
				<h3>LJ Institute of Computer Applications</h3>
				
			</div> -->
			<div class="box person">
				<div class="image">
					<a href="https://www.google.co.in/maps/place/L+J+Institute+Of+Computer+Application/@22.9746488,72.4384031,13z/data=!4m5!3m4!1s0x0:0xc7f08646f465b6e7!8m2!3d22.991124!4d72.4880562?sa=X&ved=0ahUKEwimtMmxxZXVAhWKUrwKHToPAeIQ_BIIfTAK" target="_BLANK"><img src="images/LJ.png" alt="Person 3" /></a>
				</div>
				<h3><a href="https://www.google.co.in/maps/place/L+J+Institute+Of+Computer+Application/@22.9746488,72.4384031,13z/data=!4m5!3m4!1s0x0:0xc7f08646f465b6e7!8m2!3d22.991124!4d72.4880562?sa=X&ved=0ahUKEwimtMmxxZXVAhWKUrwKHToPAeIQ_BIIfTAK" target="_BLANK">LJ Institute Of Computer Applications</a></h3>
				
			</div>
			<div class="box person">
				<div class="image">
					<img src="images/Het.JPG" alt="Person 3" />
				</div>
				<h3>Het Kansara</h3>
				<p>+91-7405872773</p>
			</div>
		</div>
	</div>
</section>